Website\NETCore_DBFramework\obj\Debug\netcoreapp3.1.*
Website/DBfirst_framework/.vs/DBfirst_framework/v16/.suo
Website/DBfirst_framework/.vs/DBfirst_framework/v16/Server/sqlite3/storage.ide
Website/DBfirst_framework/.vs/DBfirst_framework/v16/Server/sqlite3/storage.ide-shm
Website/DBfirst_framework/.vs/DBfirst_framework/v16/Server/sqlite3/storage.ide-wal
Website/DBfirst_framework/DBfirst_framework/obj/Debug/DBfirst_framework.csprojAssemblyReference.cache
Website/NETCore_DBFramework/obj/dotNetCore_DatabaseFirst.csproj.nuget.cache
Website/NETCore_DBFramework/obj/dotNetCore_DatabaseFirst.csproj.nuget.dgspec.json
Website/NETCore_DBFramework/obj/project.assets.json
Website/NETCore_DBFramework/obj/Debug/netcoreapp3.1/dotNetCore_DatabaseFirst.assets.cache
Website/NETCore_DBFramework/obj/Debug/netcoreapp3.1/dotNetCore_DatabaseFirst.csprojAssemblyReference.cache
Website/DBfirst_framework/.vs/DBfirst_framework/DesignTimeBuild/.dtbcache
